
@model StudyMVC.Models.Person
<html>
<body>
    <h1>Create Details</h1>
    @Html.ValidationSummary()
    @using (@Html.BeginForm("Create", "Home"))
    {
        <div class="person-editor">
            @Html.EditorForModel()
            <input type="submit" value="submit" />
        </div>
    }
</body>
</html>


